
<div style="margin-top: 20px;"></div>
<div class="col-md-12">
    <h3 class="text-center">Ingreso de usuarios</h3>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmitLogin()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Email: </label>
        <input type = "login"
        class="form-control"
        name="username"
        id="username"
        [(ngModel)]="login"
        required
        minlength="4"
        #username="ngModel"
        placeholder="Digite su email"
        [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Se necesita un nombre de usuario</div>
          <div *ngIf="username.errors['minlength']">
           Email debe tener al menos 4 caracteres
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña: </label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          [(ngModel)]="userPassword"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Se requiere una contraseña</div>
          <div *ngIf="password.errors['minlength']">
            Contraseña debe tener al menos 6 caracteres
          </div>
        </div>
      </div>

      <button class="btn btn-success" [disabled]= "!f.form.valid">Ingresar</button>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignInFailed">
        Ingreso fallido!<br />{{ errorMessage }}
      </div>

    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Ingreso exitoso!
    </div>
  </div>