/* Estilo para el contenedor principal */
.container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Estilo para el título */
  h3 {
    text-align: center;
    color: #333;
  }
  
  /* Estilo para los campos de entrada */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Estilo para las etiquetas de los campos */
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  /* Estilo para los inputs */
  input[type="login"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  /* Estilo para los mensajes de error */
  .invalid-feedback {
    color: #dc3545;
    font-size: 14px;
  }
  
  /* Estilo para el botón de ingresar */
  .btn-success {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  /* Estilo para el mensaje de ingreso fallido */
  .alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Estilo para el mensaje de ingreso exitoso */
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    border-radius: 5px;
  }