<div style="margin-top: 20px; margin-bottom: 20px;">
    <button mat-raised-button color="primary" routerLink="/crear">Crear Producto</button>
  </div>
  <input type="text" class="form-control mb-2" placeholder="buscar nombre" #textsearch (keyup)="buscarnombre(textsearch.value)"/>

  

<div class="tabla-container mat-elevation-z8">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>
  
      <!-- Valor Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let row"> {{row.valor}} </td>
      </ng-container>
  
      <!-- Fecha de ingreso Column -->
      <ng-container matColumnDef="fechaIngreso">
        <th mat-header-cell *matHeaderCellDef> Fecha de ingreso </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha_creacion}} </td>
      </ng-container>
  
      <!-- Fecha de venta Column -->
      <ng-container matColumnDef="fechaVenta">
        <th mat-header-cell *matHeaderCellDef> Fecha de venta </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha_venta}} </td>
      </ng-container>
      <!-- Estado Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
      </ng-container>
  
      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="verDetalle(row)">
                <mat-icon>visibility</mat-icon>
              </button>
              <input type="file" #fileInput style="display: none" (change)="uploadImage($event, row)">
                <button mat-icon-button (click)="fileInput.click()">
                <mat-icon>file_upload</mat-icon>
              </button>
              <button mat-icon-button (click)="borrar(row)">
                <mat-icon>delete</mat-icon>
              </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
  </div>