<mat-dialog-content>
    <div *ngIf="producto">
      <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
      <p><strong>Marca:</strong> {{ producto.marca }}</p>
      <p><strong>Valor:</strong> {{ producto.valor }}</p>
      <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
      <p><strong>Fecha de creación:</strong> {{ producto.fecha_creacion }}</p>
      <p><strong>Fecha de venta:</strong> {{ producto.fecha_venta }}</p>
      <img [src]="producto.imagen" alt="Imagen del producto">
    </div>
  </mat-dialog-content>