<div style="margin-top: 20px;"></div>
<div class="formulario-container">
  <form (ngSubmit)="submitForm()" #formulario="ngForm">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="formData.nombre" required>

    <label for="descripcion">Descripcion:</label>
    <input type="text" id="organizador" name="organizador" [(ngModel)]="formData.descripcion" required>
    
    <label for="valor">Valor:</label>
    <input type="text" id="valor" name="valor" [(ngModel)]="formData.valor" required pattern="[0-9]+">
    
    <label for="marca">Marca:</label>
    <input type="text" id="marca" name="marca" [(ngModel)]="formData.marca" required>
  
    <button type="submit">Enviar</button>
    <button type="button" (click)="limpiarFormulario()">Limpiar</button>
  </form>
</div>
<div style="margin-top: 20px; margin-bottom: 20px;">
    <button mat-raised-button color="primary" routerLink="/productos">Ver Producto</button>
  </div>